<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.tagfans.serviceDiscovery"
        version="0.1.0">

  <name>serviceDiscovery</name>
  <description>Cordova plugin for serviceDiscovery</description>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/serviceDiscovery.js" target="js/serviceDiscovery.js"/>

  <js-module src="www/serviceDiscovery.js" name="serviceDiscovery">
    <clobbers target="serviceDiscovery" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="serviceDiscovery">
        <param name="android-package" value="com.tagfans.plugin"/>
      </feature>
    </config-file>
  </platform>

</plugin>
